parameters:
    level: max
    paths:
        - %rootDir%/src/

    checkMissingIterableValueType: false

    excludes_analyse:
        # Makes PHPStan crash
        - 'src/DependencyInjection/Configuration.php'
        - 'src/DependencyInjection/MonsieurBizSyliusAdvancedOptionExtension.php'

        # Test dependencies
        - 'tests/Application/**/*'
